<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>24EF4320-574D-4817-ADE6-13A8FCD791B3.playgroundpage</string>
		<string>3E8A8A79-4013-4EC9-B20E-CD824A5943E1.playgroundpage</string>
		<string>5A70CE7B-B1DA-42EC-914B-B36C5DDE4712.playgroundpage</string>
		<string>44FF109A-5577-4822-98FE-F4C7455AD3F3.playgroundpage</string>
		<string>231B292F-8854-423E-8692-5BAD2212A14A.playgroundpage</string>
		<string>603FEAF5-3797-45F4-87F0-82AC337E4E70.playgroundpage</string>
		<string>CC01A3BA-7F83-4E3E-9A6B-5C7273A92DDA.playgroundpage</string>
		<string>0554C705-C3D0-4FB2-BC13-25F18F87902D.playgroundpage</string>
		<string>3876274B-AF46-426A-A08A-E0EC0E42853E.playgroundpage</string>
		<string>04E6FEA7-AA5F-4FA1-8016-21A6FCF10627.playgroundpage</string>
		<string>066467EF-0F69-4D3B-992E-B81C6397C98B.playgroundpage</string>
		<string>E2D4EF2C-FAEB-4BAD-AFE7-DF472D8E566C.playgroundpage</string>
		<string>197AAF7F-FB72-4255-878A-D29E211D5D04.playgroundpage</string>
		<string>AB51C70B-EA5F-4459-B334-CD5FAA8B4FC6.playgroundpage</string>
		<string>DE9CF8FE-572B-44B9-AA34-4C5E6104BABD.playgroundpage</string>
	</array>
</dict>
</plist>
